* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: "Rubik", sans-serif;
}
body {
  background-color: #f5f8ff;
}
.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  width: 360px;
  /* position: relative; */
  margin: 50px auto;
  padding: 50px 20px;
  border-radius: 7px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.05);
  /* overflow: auto; */
}
input[type="file"] {
  display: none;
}
/* label {
  display: block;
  position: relative;
  background-color: #025bee;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  width: 300px;
  padding: 18px 0;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
} */
.imgBox {
  display: flex;

  flex-wrap: wrap;
}
.cameraLabel {
  display: flex;
  /* background-color: #025bee; */
  flex-direction: column;
  color: gray;
  font-size: 18px;
  text-align: center;
  width: 60px;
  height: 60px;
  /* padding: 18px 0; */
  /* margin: auto; */
  cursor: pointer;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-top: 10px;
}
img {
  width: 60px;
  height: 60px;
}
.cameraImage {
  width: 30px;
  height: 30px;
  margin-left: 0px;
}
.container p {
  text-align: center;
  font-size: 12px;
  margin-top: 4px;
  /* margin: 20px 0 30px 0; */
}
#images {
  display: flex;
  flex-wrap: wrap;
  /* width: 90%;
  position: relative;
  margin: auto; */
  /* justify-content: space-evenly;
  gap: 20px; */
}
figure {
  width: 60px;
  height: 60px;
  margin-left: 15px;
  margin-top: 10px;
}

#ImageWrapper {
  position: relative;
}

#deleteImage {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  position: absolute;
  width: 15px;
  height: 15px;
  /* top: 0px;
  left: 0px; */
  background-color: black;
  opacity: 0.8;
  border-radius: 10px;
  top: 5px;
  color: white;
  left: 65px;
}

/* figcaption {
  text-align: center;
  font-size: 2.4vmin;
  margin-top: 0.5vmin;
} */
